:root {
  --color-background: #181a1e;
  --color-lighter: #202528;
  --color-white: #edeffd;
  --color-white-variant: #a3bdcc;
  --color-shadow: rgba(0, 0, 0, 0.4);

  --card-radius: 2rem;

  --card-padding: 1.8rem;

  --primary-shadow: 0 1rem 2rem var(--color-shadow);

  --font-family: "M PLUS 1 Code", monospace;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family);
  color: white;
}

/* -- https://coolors.co/181a1e-202528-d68fd6-defff2-0ff4c6 -- */

/* -- HERO -- */
.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}

.hero #left {
  font-size: 32px;
  align-self: center;
}

/* -- SCROLLER -- */
.model-card {
  background: var(--color-lighter);
  padding: var(--card-padding);
  margin-top: 1rem;
  border-radius: var(--card-radius);
  box-shadow: var(--primary-shadow);
}

.scroller {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

.scroller[data-animated="true"] .scroller_inner:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
